<!DOCTYPE html>
<html>
<head>
  <title>Authentication</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="javascripts/validate.js"></script>
  <script src="javascripts/base.js"></script>
</head>
<body>
<section class="top-nav clearfix">
  <div class="top-nav-info">Welcome Guest</div>
  <div class="top-nav-signup">Sign Up</div>
  <div class="top-nav-logout">Log Out</div>
  <div class="top-nav-login">Log In</div>
</section>
<section class="content"></section>
<section class="authenticate clearfix">
  <div class="authenticate-info">Member log in, if NOT please sign up</div>
  <input class="authenticate-email" type="email" placeholder="email?" />
  <input class="authenticate-password" type="password" placeholder="password?" />
  <div class="authenticate-verify">Verify</div>
  <div class="authenticate-cancel">Cancel</div>
</section>
<section class="registration clearfix">
  <div class="registration-info">Please provide the following information</div>
  <input class="registration-name" type="text" placeholder="full name?" />
  <input class="registration-email" type="email" placeholder="email?" />
  <input class="registration-pw" type="password" placeholder="new password?" />
  <input class="registration-confirm-pw" type="password" placeholder="confirm new password?" />
  <div class="registration-create">Create</div>
  <div class="registration-cancel">Cancel</div>
</section>
</body>
</html>